{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
 {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>	
    {% endfor %}
    <div class="container d-flex justify-content-center align-items-center vh-50">
       
        <div class="w-100" style="max-width: 600px">

            <h1 class="text-center" style="font-size: 3rem; font-weight: bold">
                Runners<span style="color: #74d4ff">Plus<span class="text-warning"
                        style="font-size: 1rem">beta</span></span>
            </h1>

            <div class="card shadow py-3 my-3 ">
                <div class="card-body">
                    <legend class="text-center">Αλλαγή συνθηματικού</legend>
                    <form method="POST">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {{ form.password.label }}
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.password(class="form-control", id="password_input") }}
                                <div class="input-group-append">
                                    <span class="input-group-text" id="show_password"><i class="fa fa-eye"></i></span>
                                </div>
                            </div>
                        </div>
                        
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var passwordInput = document.getElementById("password_input");
                                var showPasswordButton = document.getElementById("show_password");
                                
                                showPasswordButton.addEventListener("click", function() {
                                    var inputType = passwordInput.getAttribute("type");
                                    
                                    if (inputType === "password") {
                                        passwordInput.setAttribute("type", "text");
                                    } else {
                                        passwordInput.setAttribute("type", "password");
                                    }
                                });
                            });
                        </script>

                        <div class="form-group input-group-sm">
                            {{ form.confirm_password.label }}
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.confirm_password(class="form-control", id="confirm_password_input") }}
                                <div class="input-group-append">
                                    <span class="input-group-text" id="show_confirm_password"><i class="fa fa-eye"></i></span>
                                </div>
                            </div>
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var confirmPasswordInput = document.getElementById("confirm_password_input");
                                var showConfirmPasswordButton = document.getElementById("show_confirm_password");
                                
                                showConfirmPasswordButton.addEventListener("click", function() {
                                    var inputType = confirmPasswordInput.getAttribute("type");
                                    
                                    if (inputType === "password") {
                                        confirmPasswordInput.setAttribute("type", "text");
                                    } else {
                                        confirmPasswordInput.setAttribute("type", "password");
                                    }
                                });
                            });
                        </script>

                        <button class="btn btn-primary form-control mt-3" type="submit">
                            Αποστολή
                        </button>
          
                        


                            
                       
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}>